body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #000000; /* Цвет фона веб-страницы */
    /* Цвет основного текста */ 
    animation: color-change1 3s infinite;
}

@keyframes color-change1 {
  0%   { color: rgb(0, 238, 255); }
  50%  { color: red; }
  100% { color: rgb(255, 0, 106); }
}
h1 {
    color: #490875; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h1:hover {
    animation: color-change 3s infinite;}

@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}
